:root {
  --color-background: #21201e;
  --color-text: #ffffff;

  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
}

.nav {
  flex-basis: 12rem;
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  padding: 2rem 4rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--color-background);
  box-shadow: 2px 0px 90px 0px rgba(97, 0, 194, 0.4);
  z-index: 0; /* pull in front of main for box shadow */
}

.nav-section {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 6rem;
}

.nav-item {
  opacity: 0.8;
  font-weight: 400;
  cursor: pointer;
}

.nav-icon {
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.nav-item-selected,
.nav-item:hover {
  font-weight: 700;
  opacity: 1;
}

.nav-logo {
  display: flex;
  align-items: flex-start;
  gap: 0.2rem;
  margin-bottom: 2rem;
}

.nav-logo-text {
  font-weight: 600;
  letter-spacing: 0.0825rem;
}

.main {
  background-color: var(--color-background);
  width: 100%;
}

.hero {
  background-color: rgb(127, 127, 127);
  background-image: linear-gradient(
      0deg,
      #191817 -4.62%,
      rgba(0, 0, 0, 0) 45.9%
    ),
    url("../assets/hero.png");

  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  margin: 0.8rem 1.5rem;
}

.section-title {
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.trending-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.trending-item {
  min-width: 13.5rem;
  min-height: 16rem;
  border: 1px solid white;
  border-radius: 1rem;
  background-image: url("../assets/toronto.jfif");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.trending-item-info {
  position: absolute;
  bottom: 0;
  width: 13.5rem;
  padding: 0.8rem 0rem 2.6rem 0.8rem;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.842);
  color: black;
  font-size: 0.9rem;
  line-height: 2;
}

.trending-item-tags {
  font-weight: 500;
}
